{% extends "shared/_layout.html" %}
{% load thumbnail %}
{% load jalali_tags %}
{% load render_partial %}
{% block title %}
    لیست مقالات
{% endblock title %}


{% block content %}
<div class="container">
			<div class="row">
				
				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">آخریـن اخبـار</h2>
						{% for article in articles %}
						<div class="single-blog-post">
							<h3>{{article.title}}</h3>
							<div class="post-meta">
								<ul>
									<li><i class="fa fa-user"></i> {{article.author}}</li>
									<li><i class="fa fa-clock-o"></i> {{article.created_date.time}} </li>
									<li><i class="fa fa-calendar"></i> {{article.created_date.date | to_jalali}} </li>
								</ul>
								<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
							</div>
							<a href="">
								{% thumbnail article.image "862x398" crop="center" quality=100 as im %}
								<img src="{{im.url}}" alt="">
								{% endthumbnail %}
							</a>
							<p>{{article.short_description}}</p>
							<a class="btn btn-primary" href="">ادامـه مطلب</a>
						</div>
						{% endfor %}
						<div class="pagination-area">
							<ul class="pagination">
								<li><a href="" class="active">1</a></li>
								<li><a href="">2</a></li>
								<li><a href="">3</a></li>
								<li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="col-sm-3">
                    {% render_partial 'article.views.article_categories_component' %}
                </div>
				
			</div>
		</div>
{% endblock content %}
