{% extends "shared/_layout.html" %}
{% load render_partial %}
{% load thumbnail %}
{% block title %}
    تغییر مشخصات کاربر
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% thumbnail current_user.avatar "130x124" crop="center" quality=100 as im %}
                    <img src="{{ im.url }}" alt="{{ user.username }}">
                {% endthumbnail %}
                {% render_partial "user_panel.views.panel_component" %}
            </div>
            <div class="col-md-8">
                <form action="{% url 'edit_profile' %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="form-group col-md-6">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form.avatar.label_tag }}
                        {{ form.avatar }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form.about_user.label_tag }}
                        {{ form.about_user }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form.address.label_tag }}
                        {{ form.address }}
                    </div>
                    {{ form.errors }}
                    <div class="form-group col-md-12">
                        <button class="btn btn-default" type="submit">ثبت</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}