{% extends "shared/_layout.html" %}
{% load render_partial %}
{% load thumbnail %}

{% block title %}
    پنل کاربری
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% render_partial "user_panel.views.panel_component" %}
            </div>
            <div class="col-md-2">
                {% thumbnail user.avatar "175x175" quality=95 crop="center" as img %}
                    <img src="{{ img.url }}" alt="{{ user.username }}">
                {% endthumbnail %}
            </div>
            <div class="col-md-6">
                <ul>
                    <li>نام :{{ user.first_name }}</li>
                    <li>نام خوانوادگی :{{ user.last_name }}</li>
                    <li>ایمیل :{{ user.email }}</li>
                    <li>درباره شخص :{{ user.about_user }}</li>
                    <li>آدرس :{{ user.address }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}